<div class="pet-selection-overlay" [style.--popup-scale]="scale">
  <div class="pet-selection-window scaled-popup-window">
    <h1>Select Pet</h1>

    <div class="pet-selection-content">
      <div class="pet-selection-controls">
        <div class="pet-selection">
          <label for="pet-select">Pet</label>

          <select id="pet-select" [(ngModel)]="selectedPet" (ngModelChange)="onPetChange($event)">
            <option [ngValue]="null">No Pet</option>
            @for (pet of pets; track pet.petType) {
              <option [ngValue]="pet">
                {{ pet.name }}
              </option>
            }
          </select>
        </div>

        <div class="tier-selection">
          <label>Tier</label>

          <div class="tier-buttons">
            @for (tier of [1, 2, 3, 4, 5, 6]; track tier) {
              <button
                [disabled]="!availableTiers.includes(tier)"
                [class.selected]="selectedTier === tier"
                [class]="'tier' + tier"
                (click)="selectedTier = tier"
              >
                T{{ tier }}
              </button>
            }
          </div>
        </div>
      </div>

      @if (selectedPet !== null) {
        <div class="pet-stats-preview">
          <h2>Pet Stats:</h2>
          @if (selectedPet!.stats[selectedTier]) {
            <div class="pet-stats">
              @for (stat of selectedPet!.stats[selectedTier] | keyvalue; track stat.key) {
                <div class="pet-stat">
                  <span>{{ formatStatName(stat.key) }}</span>
                  <span>{{ formatStatValue(stat.value, 2) }}</span>
                </div>
              }
            </div>
          }

          @if (selectedPet!.description[selectedTier]) {
            <div class="pet-description" [class.has-stats]="(selectedPet.stats[selectedTier!] | keyvalue).length > 0">
              {{ selectedPet!.description[selectedTier] }}
            </div>
          }
        </div>
      }
      @else
      {
        <div class="pet-stats-preview">
          <h2>Pet Stats:</h2>
          <div class="no-pet-selected">
                No Pet selected!
            </div>
        </div>
      }
    </div>

    <div class="pet-selection-buttons">
      <button
        class="accept-button"
        (click)="confirm()"
      >
        <img src="utility-icons/confirm.png" alt="Accept" />
        <span class="tooltip">Confirm</span>
      </button>
      <button class="cancel-button">
        <img src="utility-icons/cancel.png" alt="Cancel" (click)="cancel()" />
        <span class="tooltip">Cancel</span>
      </button>
    </div>
  </div>
</div>
