<div class="overlay">
  <div class="window">
    <button class="close-button" (click)="cancel()">
      <img src="utility-icons/cancel-square.png" alt="Close" />
      <span class="tooltip">Close</span>
    </button>

    <h1>Select Jewel</h1>

    <div class="filter-bar">
      <input type="text" placeholder="Search jewels..." [(ngModel)]="searchTerm" />

      <label class="toggle-switch">
        <input type="checkbox" [(ngModel)]="maxTierOnly" />
        <span class="slider"></span>
        Max tier only
      </label>
    </div>

    <div class="selection-grid-container">
      <div class="selection-grid">
        @for (jewel of getFilteredJewels(); track jewel.jewelType) {
          @for (tier of getTiers(jewel); track tier) {
            <app-build-sim-button
              class="selection-button"
              [tooltipTitle]="jewel.name"
              [tooltipTitleClass]="getTierName(tier)"
              [tooltipDescription]="jewel.descriptionPerTier[tier]"
              [icon]="jewelService.getJewelDefinitionIcon(jewel, tier)"
              [disabled]="!canSelectJewel(jewel.jewelType)"
              (clicked)="selectJewel(jewel, tier)"
            ></app-build-sim-button>
          }
        }
      </div>
    </div>
  </div>
</div>
