<div class="overlay" [style.--popup-scale]="scale">
  <div class="window scaled-popup-window">
    <h1>Edit Dragon Crest</h1>

    <h2>Dragon Stones:</h2>

    <div class="trinket-slots">
      @for (dragonStone of dragonStones; track $index) {
        <div class="trinket-slot-wrapper">
          <app-build-sim-button
            class="trinket-slot"
            [slotName]="dragonStone !== null ? '' : 'Empty'"
            [tooltipTitle]="dragonStone !== null ? dragonStoneService.getDragonStoneInstanceName(dragonStone) : ''"
            [tooltipTitleClass]="dragonStone !== null ? getTierName(dragonStone.tier) : ''"
            [tooltipDescription]="dragonStoneService.getDragonStoneInstanceDescription(dragonStone)"
            [icon]="dragonStoneService.getDragonStoneInstanceIcon(dragonStone)"
            
            (clicked)="openDragonStoneSelector($index)"
          ></app-build-sim-button>

          @if (dragonStone !== null) {
            <!-- Delete -->
            <button
              class="trinket-slot-action delete-button"
              (click)="deleteDragonStone($index); $event.stopPropagation()"
            >
              <img src="utility-icons/cancel-square.png" alt="Delete" />
              <span class="tooltip">Delete</span>
            </button>

            <!-- Copy -->
            @if (hasEmptyDragonStoneSlot()) {
              <button
                class="trinket-slot-action copy-button"
                (click)="copyDragonStone($index); $event.stopPropagation()"
              >
                <img src="utility-icons/copy.png" alt="Copy" />
                <span class="tooltip">Copy to next empty slot</span>
              </button>
            }
          }
        </div>
      }
    </div>

    <div class="cc-buttons">
      <button (click)="confirm()">
        <img src="utility-icons/confirm.png" alt="Confirm" />
        <span class="tooltip">Confirm</span>
      </button>

      <button (click)="cancel()">
        <img src="utility-icons/cancel.png" alt="Cancel" />
        <span class="tooltip">Cancel</span>
      </button>
    </div>
  </div>
</div>

@if (showDragonStoneSelector) {
  <app-dragonstone-selector
    [dragonStoneConfig]="dragonStoneConfig"
    (cancelled)="closeDragonStoneSelector()"
    (selected)="confirmDragonStoneSelection($event)"
  >
  </app-dragonstone-selector>
}
