<div class="jewel-trinket-overlay" [style.--popup-scale]="scale">
  <div class="jewel-trinket-window scaled-popup-window">
    <h1>Edit Jewel Trinket</h1>

    <h2>Jewels</h2>

    <div class="jewel-trinket-slots">
      @for (jewel of jewels; track $index) {
        <div class="jewel-trinket-slot-wrapper">
          <app-build-sim-button
            class="jewel-trinket-slot"
            [slotName]="
              jewel !== null
                ? ''
                : 'Empty'
            "
            [tooltipTitle]="jewel !== null ? getJewelName($index) : ''"
            [tooltipDescription]="getJewelDescription($index)"
            [icon]="
              jewel !== null
                ? 'jewel-icons/'+getIcon(jewel.jewelType, jewel.tier)
                : 'jewel-icons/default.png'
            "
            (clicked)="openJewelSelector($index)"
          ></app-build-sim-button>

          @if (jewel !== null) {
            <!-- Delete -->
            <button
              class="jewel-trinket-slot-action delete-button"
              (click)="deleteJewel($index); $event.stopPropagation()"
            >
              <img src="utility-icons/cancel-square.png" alt="Delete" />
              <span class="tooltip">Delete</span>
            </button>

            <!-- Copy -->
            @if (hasEmptyJewelSlot()) {
              <button
                class="jewel-trinket-slot-action copy-button"
                (click)="copyJewel($index); $event.stopPropagation()"
              >
                <img src="utility-icons/copy.png" alt="Copy" />
                <span class="tooltip">Copy to next empty slot</span>
              </button>
            }
          }
        </div>
      }
    </div>

    <div class="jewel-trinket-buttons">
      <button class="accept-button" (click)="confirm()">
        <img src="utility-icons/confirm.png" alt="Confirm" />
        <span class="tooltip">Confirm</span>
      </button>

      <button class="cancel-button" (click)="cancel()">
        <img src="utility-icons/cancel.png" alt="Cancel" />
        <span class="tooltip">Cancel</span>
      </button>
    </div>
  </div>
</div>

@if (showJewelSelector) {
  <app-jewel-selector
    [jewelConfig]="jewelConfig"
    (cancelled)="closeJewelSelector()"
    (selected)="confirmJewelSelection($event)">
  </app-jewel-selector>
}
