<button 
class="item-slot"
  cdkOverlayOrigin
  #tooltipTrigger="cdkOverlayOrigin"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
(click)="onClick()">
    <img [src]="icon">

    @if (overlayText) {
        <span class="slot-overlay">
            {{ overlayText }}
        </span>
    }
</button>



<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="tooltipTrigger"
    [cdkConnectedOverlayOpen]="showTooltip"
    [cdkConnectedOverlayPositions]="tooltipPositions"
>
    <div class="tooltip-overlay">

        @if (tooltipTitle) {
            <div class="structured-tooltip">

                <div class="tooltip-name">
                    {{ tooltipTitle }}
                </div>

                @if (tooltipDescription) {
                    <div class="tooltip-separator"></div>

                    <div class="tooltip-description">
                        {{ tooltipDescription }}
                    </div>
                }

            </div>
        } @else if (slotName) {
            <div class="tooltip-simple">
                {{ slotName }}
            </div>
        }

    </div>
</ng-template>