<button
  class="item-slot"
  cdkOverlayOrigin
  #tooltipTrigger="cdkOverlayOrigin"
  [disabled]="disabled"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  (click)="onClick()"
>
  <img [src]="icon" />

  @if (overlayText) {
    <span class="slot-overlay">
      {{ overlayText }}
    </span>
  }
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="tooltipTrigger"
  [cdkConnectedOverlayOpen]="showTooltip"
  [cdkConnectedOverlayPositions]="tooltipPositions"
>
  @if (runeTrinket) {
    <app-trinket-tooltip [title]="slotName" [runeTrinket]="runeTrinket" [runeConfig]="runeConfig" />
  } @else if (jewelTrinket) {
    <app-trinket-tooltip
      [title]="slotName"
      [jewelTrinket]="jewelTrinket"
      [jewelConfig]="jewelConfig"
    />
  } @else if (dragonCrestTrinket) {
    <app-trinket-tooltip
      [title]="slotName"
      [dragonCrestTrinket]="dragonCrestTrinket"
      [dragonStoneConfig]="dragonStoneConfig"
    />
  } @else {
    <div class="tooltip-overlay">
      @if (tooltipTitle) {
        <div class="structured-tooltip">
          <div class="tooltip-name" [ngClass]="tooltipTitleClass">
            {{ tooltipTitle }}
          </div>

          @if (tooltipDescription) {
            <div class="tooltip-separator"></div>

            <div class="tooltip-description">
              @if (typeof tooltipDescription === 'string') {
                {{ tooltipDescription }}
              } @else {
                @for (line of tooltipDescription; track $index) {
                  @if ($index > 0) {
                    <div class="tooltip-separator"></div>
                  }
                  <div>{{ line }}</div>
                }
              }
            </div>
          }
        </div>
      } @else if (slotName) {
        <div class="tooltip-name">
          {{ slotName }}
        </div>
      }
    </div>
  }
</ng-template>
