<div class="class-change-overlay" [style.--popup-scale]="scale">
  <div class="class-change-window scaled-popup-window">
    <h1>Change Character Class?</h1>

    <button class="cancel-window-button" (click)="cancel()">
      <img src="utility-icons/cancel-square.png" alt="Cancel" />
      <span class="tooltip">Cancel</span>
    </button>

    <div class="select-class-buttons">
      <button (click)="selectClass(CharacterClass.DRAGONKNIGHT)">
        <img src="class-icons/dragonknight.png" alt="Dragonknight" />
        <span class="tooltip">Dragonknight</span>
      </button>

      <button (click)="selectClass(CharacterClass.SPELLWEAVER)">
        <img src="class-icons/spellweaver.png" alt="Spellweaver" />
        <span class="tooltip">Spellweaver</span>
      </button>

      <button (click)="selectClass(CharacterClass.RANGER)">
        <img src="class-icons/ranger.png" alt="Ranger" />
        <span class="tooltip">Ranger</span>
      </button>

      <button (click)="selectClass(CharacterClass.STEAM_MECHANICUS)">
        <img src="class-icons/steam-mechanicus.png" alt="Steam Mechanicus" />
        <span class="tooltip">Steam Mechanicus</span>
      </button>
    </div>
  </div>
</div>
